doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      if media.restaurant
        | “#{media.restaurant.name}”的语音点评 - 日料栈
      else
        | 日料栈
    style.
      .share {
        text-align: right;
      }
      .audiojs {
        margin-top: 20px;
        width: 100%;
        position: relative;
      }
      .audiojs .scrubber {
        position: absolute;
        width: 80%;
        left: 37px;
        z-index: 1;
      }
      .audiojs .time {
        position: absolute;
        right: 0;
        border-left: none;
        z-index: 2;
      }
      a {
        text-decoration: none;
      }
      .btn {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background-image: none;
        border: 1px solid transparent;
      }
      .focus-btn {
        margin-top: 20px;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
        display: block;
      }
      .bind_image {
        margin-top: 20px;
        width: 100%;
        height: auto;
        display: block;
      }
      .audio_detail {
        background-color: #eeeeee;
        clear: both;
        font-size: 14px;
        line-height: 21px;
        min-height: 21px;
        padding: 5px;
      }
      .audio-user {
        float: left;
      }
      .audio-user-img {
        height: 21px;
        width: auto;
        padding-right: 5px;
      }
  body
    .share 点击右上角分享 ↑
    audio(src='/upload/mp3/#{media._id}.mp3')
    .audio_detail
      .audio-user
        img.audio-user-img(src=media.user.wx_img)
      if media.restaurant.isTopic
        .audio-text #{media.user.wx_name} 的专题语音
      else
        .audio-text #{media.user.wx_name} 评价“#{media.restaurant.name}”
    if media.image_media_id && media.image_media_id !== ''
      img.bind_image(src='/upload/pic/#{media._id}.jpg')
    a.btn.focus-btn(href='http://mp.weixin.qq.com/s?__biz=MzAwNzQwNzY4MQ==&mid=206201792&idx=1&sn=794008a007cf2951f08738aa366d0e57#rd') 关注日料栈
  script(src='http://libs.useso.com/js/jquery/1.11.0/jquery.min.js')
  script(src='/lib/audiojs/audiojs/audio.min.js')
  script.
    audiojs.events.ready(function() {
      var as = audiojs.createAll();

    });