doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title ? title + ' - ' : ''} 日料栈
    link(rel='stylesheet', media='screen', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-desk.css')
    //[if lt IE 9]>
      <script src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js'></script><![endif]
    //put other css files in css_content
    block css_content
    script(src='/lib/modernizr/modernizr.js')
  body
    header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.hidden-sm(href='/') 日料
            span 栈
        nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.hidden-em
            if req.isAuthenticated()
              li
                a(href='/users/#{req.user.email}', title='#{req.user.name}')
                  .avatar-min-wrap
                    img.avatar-min(src='/avatar/#{req.user.email}')
              if req.user.isSuperAdmin || req.user.isAdmin
                - var adminUrl = req.user.isSuperAdmin ? '/super' : '/admin'
                li
                  a(href=adminUrl) 后台管理
              li
                a.tooltip-link(href='/users/#{req.user.email}/edit', data-toggle='tooltip', data-placement='bottom', title='设置')
                  .glyphicon.glyphicon-cog
              li
                a.tooltip-link(href='/logout', data-toggle='tooltip', data-placement='bottom', title='退出')
                  .glyphicon.glyphicon-log-out
            else
              li
                a(href='/login', data-toggle='tooltip',data-placement='bottom')
                  .glyphicon.glyphicon-log-out
                  |  登录
              li
                a(href='/signup') 注册

    #main.container(class=isHome?'home':'')
      - if(typeof message !== 'undefined' && message.length > 0)
        .alert.alert-dismissable.alert-danger
          button.close(data-dismiss='alert', aria-hidden='true') ×
          | #{message}
      block content

    footer
      aside.footer-about
        .container
          .row
            .col-md-4
              h3
                .glyphicon.glyphicon-headphones
                |  About
              .footer-text [日料栈]balabala
              .footer-email applesstt@gmail.com
      aside.footer-inspired
        .container
          .glyphicon.glyphicon-heart
          |  Inspired by
          a.footer-power(href='http://github.com/applesstt') 巡山科技
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/lib/moment/moment.js')
    script(src='/js/common.js')
    block js_content